In [2]:
import pandas as pd
from sklearn.utils import shuffle
import os

In [3]:
FORMANTS_CSV_PATH = "/home/jeevan/Jeevan_K/Projects/Asquire/Reverb-Quest/Formants/scripts/all_timit_vowel_formants_mf_p.csv"
klatt_json_data_path = "/home/jeevan/Jeevan_K/Projects/Asquire/Reverb-Quest/Formants/CSV/for_klatt"

In [4]:
all_phone_formants_df = pd.read_csv(FORMANTS_CSV_PATH); all_phone_formants_df

,id,person,sex,phone,pitch_praat,f1_org_praat,f2_org_praat,f3_org_praat
0,0,FAKS0,F,iy,243.044669,468.354889,2320.570000,2839.730333
1,1,FAKS0,F,ae,243.044669,840.217462,1879.477692,2768.645000
2,2,FAKS0,F,er,243.044669,613.416571,1818.399571,2227.838429
3,3,FAKS0,F,aa,243.044669,786.415600,1457.486700,2400.440200
4,4,FAKS0,F,uw,243.044669,522.480643,1592.871000,2758.406786
...,...,...,...,...,...,...,...,...
78369,78369,MTCS0,M,ao,134.070777,578.490000,821.363200,2027.845600
78370,78370,MTCS0,M,ih,134.070777,491.960600,1601.858800,2672.206200
78371,78371,MTCS0,M,ay,134.070777,673.321000,1436.068800,2380.725200
78372,78372,MTCS0,M,ih,134.070777,422.332222,2033.473667,2634.352444
78373,78373,MTCS0,M,ih,134.070777,508.469500,1745.412583,2611.957667

In [5]:
all_vowels = pd.unique(all_phone_formants_df["phone"]); all_vowels

array(['iy', 'ae', 'er', 'aa', 'uw', 'ih', 'ao', 'axr', 'ow', 'ix', 'eh',
       'oy', 'ay', 'ax', 'ux', 'aw', 'ah', 'ey', 'uh', 'ax-h'],
      dtype=object)

In [58]:
LIMIT = 200
dfs = []
for vowel in all_vowels:
    sub_df = all_phone_formants_df[all_phone_formants_df["phone"] == vowel]

    sub_df_male = shuffle(sub_df[sub_df["sex"] == "M"])
    sub_df_female =  shuffle(sub_df[sub_df["sex"] == "F"])

    size_m = LIMIT if len(sub_df_male) > LIMIT else len(sub_df_male)
    size_f = LIMIT if len(sub_df_female) > LIMIT else len(sub_df_female)

    sub_df_male = sub_df_male[:size_m]
    sub_df_female = sub_df_female[:size_f]
    
    df = pd.concat([sub_df_male, sub_df_female])

    dfs.append(df)

    
timit_vowel_subset = pd.concat(dfs)
timit_vowel_subset = timit_vowel_subset.reset_index()
timit_vowel_subset = timit_vowel_subset.drop(columns=["id"])
timit_vowel_subset.index.name = "idx"
timit_vowel_subset = timit_vowel_subset.drop(columns=["index"])
pth_json = os.path.join(klatt_json_data_path, "timit_vowel_subset_mf_p.json")
timit_vowel_subset.to_json(pth_json, index=True, orient="table")
timit_vowel_subset.to_csv("timit_vowel_subset_mf_p.csv", index=True)

timit_vowel_subset

     person sex phone  pitch_praat  f1_org_praat  f2_org_praat  f3_org_praat
idx
0     MEDR0   M    iy   142.789899    413.291667   1915.545667   2486.549667
1     MTPF0   M    iy   106.733105    402.388500   1751.189833   2350.222667
2     MSJS1   M    iy   114.192945    455.218000   1623.269556   2178.050444
3     MJPM1   M    iy   127.805824    560.211692   1967.826385   2677.407308
4     MPPC0   M    iy   119.742991    537.775571   2176.250571   2917.193714
...     ...  ..   ...          ...           ...           ...           ...
7882  FCFT0   F  ax-h   230.665164    756.727600   1918.631200   2940.413600
7883  FMML0   F  ax-h   170.512107    403.078000   2059.980000   3069.570000
7884  FGDP0   F  ax-h   203.769637    464.295000   2330.809500   3245.084500
7885  FCJF0   F  ax-h   199.136460   1095.698000   1784.738500   3048.244500
7886  FCMH1   F  ax-h   211.594863    829.331000   2047.348500   2918.016500

[7887 rows x 7 columns]

In [6]:
# test ignore
LIMIT = 2
dfs = []
for vowel in all_vowels:
    sub_df = all_phone_formants_df[all_phone_formants_df["phone"] == vowel]

    sub_df_male = shuffle(sub_df[sub_df["sex"] == "M"])
    sub_df_female =  shuffle(sub_df[sub_df["sex"] == "F"])

    size_m = LIMIT if len(sub_df_male) > LIMIT else len(sub_df_male)
    size_f = LIMIT if len(sub_df_female) > LIMIT else len(sub_df_female)

    sub_df_male = sub_df_male[:size_m]
    sub_df_female = sub_df_female[:size_f]
    
    df = pd.concat([sub_df_male, sub_df_female])

    dfs.append(df)

    
timit_vowel_subset = pd.concat(dfs)
timit_vowel_subset = timit_vowel_subset.reset_index()
timit_vowel_subset = timit_vowel_subset.drop(columns=["id"])
timit_vowel_subset.index.name = "idx"
timit_vowel_subset = timit_vowel_subset.drop(columns=["index"])

# write file
pth_json = os.path.join(klatt_json_data_path, "timit_vowel_subset_mf_vowel_sample.json")
timit_vowel_subset.to_json(pth_json, index=True, orient="table")
timit_vowel_subset.to_csv("timit_vowel_subset_mf_vowel_sample.csv", index=True)

timit_vowel_subset

    person sex phone  pitch_praat  f1_org_praat  f2_org_praat  f3_org_praat
idx
0    MDKS0   M    iy   130.376524    837.323571   2339.071000   2838.824571
1    MMEB0   M    iy   117.832289    569.538400   2391.852300   2947.371700
2    FAEM0   F    iy   180.423125    504.536400   1822.705200   2663.251600
3    FSAK0   F    iy   214.456629    482.881800   2171.260500   2791.683000
4    MKAG0   M    ae   104.244506    646.093182   1474.068273   2589.906273
..     ...  ..   ...          ...           ...           ...           ...
75   FMKF0   F    uh   223.235827    472.264400   1242.251600   2652.933800
76   MDAC0   M  ax-h   136.415740    771.410667   1957.499000   2919.099333
77   MTCS0   M  ax-h   123.174414    716.186500   1861.784000   3157.275500
78   FNLP0   F  ax-h   218.837766    469.801500   1582.345000   3375.355000
79   FJWB1   F  ax-h   225.297185    259.386000   1939.012000   2854.584500

[80 rows x 7 columns]